{% extends 'base.html' %}

{% block content %}
<div class="product-container">
    {% for product in products %}
    <div class="product-card">
        <a href="{% url 'product_detail' product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p class="brand">{{ product.brand }}</p>
            <p class="price">
                {% if product.discount_price %}
                    <span class="old-price">{{ product.price }} zł</span>
                    <span class="new-price">{{ product.discount_price }} zł</span>
                {% else %}
                    <span class="new-price">{{ product.price }} zł</span>
                {% endif %}
            </p>
        </a>
        <button class="add-to-cart">DO KOSZYKA</button>
    </div>
    {% endfor %}
</div>
{% endblock %}
